.cart-section {
  text-align: center;
}

.cart--card {
  max-width: 80%;
  position: relative;
}

.cart--container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
}

.cart--card-body {
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 2rem;
  align-items: baseline;
}

.cart--buttons {
  padding: 1rem;
}

.cart-dismiss {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: black;
  font-size: 3rem;
}
