.cart-section {
  text-align: center;
  height: 100vh;
}

.cart--card {
  width: 100%;
  max-width: 60%;
  position: relative;
}

.cart--container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
}

.cart--card-body {
  justify-content: space-between;
  font-size: 2rem;
  align-items: baseline;
}

.cart--buttons {
  padding: 1rem;
  font-size: 2.5rem;
  font-weight: 400;
  background-color: #fff;
  color: #000;
}

.cart--buttons-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.cart--buttons-container * {
  margin-right: 2rem;
}

.cart-dismiss {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: black;
  font-size: 3rem;
}

.total--cart-price {
  margin-top: 3rem;
}

.clear--cart {
  margin-top: 2rem;
}

.empty-text {
  color: var(--light-gray);
  margin-bottom: 2rem;
  font-size: 6rem;
}
.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

@media (max-width: 786px) {
  .cart--card {
    max-width: 100%;
    position: relative;
  }

  .cart-dismiss {
    top: 1rem;
    right: 1rem;
  }
}
