.homepage-container {
  /* display: flex;*/
  height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/565991.jpg");
  background-size: cover;
  background-position: top;
  max-width: 100%;
  position: relative;
}

figure {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}

.main-title {
  max-width: 700px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.main-heading {
  max-width: 400px;
  padding: 2rem;
  word-spacing: 0.1rem;
  letter-spacing: 0.2rem;
  line-height: 3rem;
  margin-left: 3rem;
  color: #fff;
}
.main-heading h1 {
  font-weight: 700;
  margin-bottom: 3rem;
}

.main-heading p {
  font-weight: 300;
  margin-bottom: 3rem;
}

.homepage-container button {
  border: 1.5px solid #fff;
}

@media (max-width: 786px) {
  .homepage-container {
    height: 94vh;
  }

  .main-heading h1 {
    line-height: 4rem;
  }
  .main-heading p {
    font-weight: 300;
    margin-bottom: 3rem;
    font-size: 2rem;
  }
}
