.user--container {
  margin-top: 3rem;
  margin-left: 3rem;
}

.user {
  color: #282c3f;
  margin: 2rem;
  font-size: 2rem;
}

.user span {
  color: #535665;
  font-size: 2rem;
}

.change-text-box .input {
  max-width: 20%;
  padding: 0.5rem;
  background-color: #fff;
}

.change-text-box button {
  margin-left: 1rem;
}

.change-text {
  font-size: 1.7rem;
  cursor: pointer;
  color: gray;
}

.logout {
  margin-left: 2rem;
}
